body{
	background-color: white;
	background-image: url("grade.png");
	background-size: 10px;
	overflow-x: hidden;

}
.footer{
	border-top: solid black;
	 background-color: #D5D5D5;
}
.videos{
text-align: left;
border-style: none;
background-color:transparent;
color: blue;
transition-duration: 0.5s;
transition-property: all;

			}
			.videos:hover{
				color:black;
				background-color:#dee2e8;
				transition-duration: 0.5s;
				transition-property: all;
			}
.vejamais{
background-color:transparent;
border-style: none;
color:black;
float:right;
}
		.vejamais:hover{
			transition-duration: 0.5s;
			transition-property: all;
			margin-right: -3px;
		}
input[type='file']
{
width: 30px;
height: 30px;
margin-left: 5px;
opacity: 0;
display: block;
}
.upload{
position: absolute;
margin-top: -30px;
width: 30px;
height: 30px;
background-color: white;
border-radius: 3px;
background-image: url(../imagens/cameracerta.png);
	transition-duration: 2s;
					transition-property: all;
}
					.upload:hover{
						background-image: url(../imagens/cameracertahover.png);
						transition-duration: 0.5s;
					transition-property: all;
					}
.botao{
	border-style: none;
background-color:transparent;

}
.alterar{

color: black;
transition-duration: 2s;
transition-property: all;

			}
			.alterar:hover{
				color:blue;
				font-size: 20px;
				-webkit-transform:scale(1) rotate(720deg);
				transition-duration: 1.5s;
				transition-property: all;
			}
