body{
	background-color: #afafaf;
}
.box{
	border: 3px solid black;
						max-width: 1000px;
						border-radius:5px;
						background-color: #4682B4;

					}
					.caixa{
						border: 1px solid black;
						max-width: 650px;
						min-height: 350px;
						background-color:white;
						border-radius:5px;
					}
					.menu{
						height: 50px;
						border:2px solid black;
						background-color:white;
						font-size: 16px;
						margin-top: 5px;
						text-decoration: none;
						color: black;
						border-radius: 40px;
						min-width: 250px;
					}
					.menu:hover{
						 box-shadow: 3px 3px 3px 0 rgba(0,0,255,0.3) ;
						 background-color:#c4c9d1;
						 transition-duration: 1s;
					transition-property: all;
					}
					.menu:hover .seta{
					-ms-transform: rotate(-10deg);
					-webkit-transform: rotate(-90deg);
					transition-duration: 0.5s;
					transition-property: all;
					color:red;
					
					
					}
					.menuescolhido{
						height: 50px;
						border-width: 3px;
						border-style: solid;
						border-color: red;
						background-color:#c4c9d1;
						font-size: 16px;
						margin-top: 5px;
						text-decoration: none;
						color: black;
						border-radius: 40px;
						min-width: 250px;
						box-shadow: 3px 3px rgba(0, 0, 0, 0.2);

					}
					.setaescolhida{
						float:left;
						font-size: 24px;
						color:black;
					}
					.menuescolhido:hover{
						color:black;
						}
					.menuescolhido:hover .setaescolhida{
						transition-duration: 0.5s;
					transition-property: all;
					color:red;
					margin-left: 3px;
					}

					.seta{
						float:left;
						font-size: 24px;
						-ms-transform: rotate(0deg);
						-webkit-transform: rotate(0deg);
						transition-duration: 0.5s;
						transition-property: all;
					

					}
					
					
					.setaescolhida:hover{
					transition-duration: 0.5s;
					transition-property: all;
					color:red;
					
					}
					p{
						margin-left: 150px;
						text-align: left;
					}

					
					