body{
	background-color: white;
	background-image: url("grade.png");
	background-size: 10px;
	overflow-x: hidden;

}
.footer{
	border-top: solid black;
	 background-color: #D5D5D5;
}
.videos{
text-align: left;
border-style: none;
background-color:transparent;
color: blue;
transition-duration: 0.5s;
transition-property: all;

			}
			.videos:hover{
				color:black;
				background-color:#dee2e8;
				transition-duration: 0.5s;
				transition-property: all;
			}
.vejamais{
background-color:transparent;
border-style: none;
color:black;
float:right;
}
		.vejamais:hover{
			transition-duration: 0.5s;
			transition-property: all;
			margin-right: -3px;
		}
input[type='file']
{
width: 30px;
height: 30px;
margin-left: 5px;
opacity: 0;
display: block;
}
.upload{
position: absolute;
margin-top: -30px;
width: 30px;
height: 30px;
background-color: white;
border-radius: 3px;
background-image: url(../imagens/cameracerta.png);
	transition-duration: 2s;
					transition-property: all;
}
					.upload:hover{
						background-image: url(../imagens/cameracertahover.png);
						transition-duration: 0.5s;
					transition-property: all;
					}
.chao{
	position: absolute;
	margin-top:-50px;

}
.nada{
	width: 100px;
}
.cartas{
	color:white;
}
.carta{
	position: absolute;
	margin-top: -2px;
	-webkit-transform:scale(1.3) rotate(0deg);
	transition-duration: 0.5s;
	transition-property: all;
	width: 3.1%;
}
.cartas:hover .carta{
	opacity: 0;
	-webkit-transform:scale(1.3) rotate(390deg);
	color:transparent;
	margin-left: 130px;
	transition-duration: 2s;
	transition-property: all;
}
