body{
	padding: 0;
	margin: 0;
	background-image: url("../imagens/bg.png");
	background-repeat: no-repeat;
	background-size:100% 100%;

}

.arealogin{
	margin-left:0px;
	width: 37%;
	height: 100%;
	background-color: #DCDCDC;
	border-style: solid;
    border-width: 0px 2px 0px 0px

}

.logos{
margin-top: 20%;
}
#botao{
	margin-left: 136px;
	background-color: red;
	border-style: solid;
	border-color:black;
	color:black;
}
.loginesenha{
	border-style: solid;
	border-color:black;
}
.login{
	margin-top: 100px;
}
#imagens{
	float:right;
	position: absolute;
	margin-left: 498px;

}
.tudo{

}