.imagem{
    position: align-left;
}
.cor{
  background-color: white;
}
footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1;
    background-color: #efefef;
    text-align: center;
}